<header class="main-navigation">
  <nav class="main-menu menu">
    <div class="ui container">
      <img
        class="ui image image-zoom rounded mini"
        src="/img/javascript-logo.png"
        alt="JavaScript Logo"
      />
      <h1>JavaScript Tutorial</h1>
    </div>
  </nav>
</header>

<main class="ui container">
  <% if (success) { %>
  <div class="ui positive message">
    <i class="close icon"></i>
    <div class="header">Thank you!</div>
    <p>You've been successfully added.</p>
  </div>
  <% } %>

  <div class="ui grid equal width stackable">
    <div class="column">
      <h3>Latest Subscribers</h3>
      <div class="ui progress success" data-percent="35">
        <div class="bar" style="transition-duration: 300ms; width: 35%">
          <div class="progress">35%</div>
        </div>
      </div>

      <a
        target="_blank"
        href="https://telegram.org"
        class="ui button basic blue fluid big"
        data-name="telegram"
      >
        <i class="telegram plane icon"></i>
        Join my Telegram Channel
      </a>
      <a
        target="_blank"
        href="https://youtube.com"
        class="ui button basic red fluid big"
        data-name="youtube"
      >
        <i class="youtube icon"></i>
        Subscribe to my YouTube Channel
      </a>
      <a
        target="_blank"
        href="https://github.com"
        class="ui button basic black fluid big"
        data-name="github"
      >
        <i class="github icon"></i>
        Follow me on GitHub
      </a>
      <a
        target="_blank"
        href="https://twitter.com"
        class="ui button basic teal fluid big"
        data-name="twitter"
      >
        <i class="twitter icon"></i>
        Follow me on Twitter
      </a>
      <a
        target="_blank"
        href="https://instagram.com"
        class="ui button basic pink fluid big"
        data-name="instagram"
      >
        <i class="instagram icon"></i>
        Follow me on Instagram
      </a>
    </div>
    <div class="column">
      <h3>Subscribe Goal: <%= goal %> | So Far: <%= count %></h3>
      <div class="ui progress success" data-percent="<%= percent %>">
        <div
          class="bar"
          width="<%= percent %>%"
          style="transition-duration: 300ms"
        >
          <div class="progress"><%= percent %>%</div>
        </div>
      </div>

      <form class="ui form" action="/subscriber" method="POST">
        <div class="field">
          <label for="name">Full Name</label>
          <input
            id="name"
            type="text"
            name="name"
            placeholder="e.g. John Doe"
            required
          />
        </div>
        <div class="field">
          <label for="email">Email Address</label>
          <input
            id="email"
            type="email"
            name="email"
            placeholder="name@example.com"
            required
          />
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            name="password"
            placeholder="••••••••"
            required
          />
        </div>
        <button class="ui button blue fluid large" type="submit">
          Join Email List
        </button>
      </form>

      <hr />

      <h3>Latest Subscribers</h3>
      <div>
        <% subscribers.forEach(subscriber => { %>
        <div class="subscriber">
          <div class="info">
            <img
              class="ui image image-zoom rounded mini"
              src="<%= subscriber.gravatar %>"
              alt="<%= subscriber.name %>"
            />
            <span><%= subscriber.name %></span>
          </div>
          <span class="time">
            <%= moment(subscriber.created_at).fromNow() %>
          </span>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</main>
